/* follow colors: https://coolors.co/e07a5f-f2cc8f-9db4c0-5c6b73-253237 */

* {
  margin:0;
  padding:0;
}

#page-container {
  margin: 0 auto;
}

body {
  background-color: #9DB4C0;
}

header {
  height: 8vh;
  background-color: #5C6B73;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#logo-container {
  display: flex;
  align-items: center;
}

#logo-content img {
  margin-top: .4vh;
  height: 8vh;
  margin-left: .4vh;
}

#site-name {
  font-size: 4vh;
  margin-left: 1vh;
  font-weight: bold;
  color: #E07A5F;
  font-family: 'Courier New', Courier, monospace;
}

#nav-content{
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
}

#nav-content img {
  width: 3vh;
  height: 3vh;
}

#search-form{
  margin-right: 2vh;
}

#search-input {
  padding: .2vh;
  background-color: #9DB4C0;
  color: #5C6B73;
}

#search-button {
  background-color: #9DB4C0;
}

.nav-link {
  color: #9DB4C0;
  text-decoration: none;
  margin-right: 2vh
}

.nav-link:hover {
  text-decoration: underline;
}

#dual-container {
  height: 60%;
  width: 85%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

#left-section {
  flex: 1;
  height: 70vh;
  background-color: #202C31;
  align-items: center;
}

#left-section img {
  height: 40vh;
  margin-left: 5vh;
}

.section-splash{
  margin-top: 1vh;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: #9DB4C0;
}

#right-section {
  flex: 2;
  height: 70vh;
  background-image: url(images/phyrexian-splash.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden;
}

footer{
  height: 8%;
  background-color: #5C6B73;
}